body {
font-family: Arial, Helvetica, sans-serif;}
.header {
  overflow: hidden;
  padding: 20px 10px;
  background-color: aliceblue;
}
.header a {
  float: left;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  line-height: 25px;
  color: black;
  font-size: 18px;
  border-radius: 4px;
}
.header a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  border-radius: 4px;
}
.header a.active {
  background-color: rgb(34, 177, 177);
}
.header a.logo {
  font-size: 20px;
  font-weight: bolder;
}
.header-right {
  float: right;
}

.intro_row  {
  padding: 15%;
  background-image: url("/img/background.jpg");
  background-position: 50% 50%;
  color: white;
  font-family: serif;
  font-style: italic;
  overflow: hidden;
}

.intro_row .intro-name {
  display: inline-block;
  font-weight: bold;
  font-size: 100px;
  animation: fadeInLeft 2s;
}

.intro_row .intro-text {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: fadeInLeft 2s;
}

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
} 

.carousel {
  position: relative;
  height: 600px;
  width: 100%;
  margin: 0 auto;
}

a .carousel_image-container {
  position: absolute;
  color: black;
  font-size: xx-large;
  font-weight: bold;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a .carousel_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

a .carousel_image-container .carousel_overlay-text {
  position: absolute;
  color: black;
  text-align: center;
  background-color: white;
  padding:1%;
  border-radius: 4px 4px 4px 4px;
  top: 50%;
  left: 30%;
  right: 30%;
}

.carousel_track-container {
  background: pink;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 300ms ease-in;
}
  
.carousel_slide {
  position: absolute;
  top: 0;   
  bottom: 0;
  width: 100%;
}

.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  background: transparent;
  border: 0;
}

.carousel_button img {
  width: 40%;
  object-fit: cover;
}
.carousel_button--right{
  right: 0px;
  border-radius: 6px 0 0 6px;
}
.carousel_button--left{
  left: 0px;
  border-radius: 0 6px 6px 0;
}

.carousel_button--left:hover, .carousel_button--right:hover {
  background-color: rgba(200,200,200,0.5);
}

.carousel_nav {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0,0,0,0.3);
  margin: 0 12px;
}

.carousel_indicator.current-slide {
  background: rgba(0, 0, 0, .75);
}

.is-hidden {
  display: none;
}