* {
    box-sizing: border-box;
  }
  
  .container {
    padding: 64px;
  }
  
  /* Clear floats */
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  /* 2/3 column */
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
    text-align: justify;
  }
  
  /* 1/3 column */
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
    text-align: justify;
  }
  
  /* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
  }

  .proj_column {
    float: left;
    width: 33.33%;
    text-align: center;
  }
  .proj_column a{
    text-decoration: none;
    color: black;
    text-align: center;
  }
  .proj_column a .image-container{
    position: relative;
    display: inline-block;
  }
  .image-container img{
    display: inline-block;
    width: 80%;
    height: 100%;
    filter: brightness(50%);
  }
  .proj_column a .image-container .overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: aliceblue;
    padding: 1px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
  }
  /* Clear floats after the columns */
  .proj_row:after {
    content: "";
    display: table;
    clear: both;
  }


