body{
    font-family: Arial, Helvetica, sans-serif;
}

.topbar{
    background-color: green;
    overflow: hidden;
}

.topbar a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

.topbar a:hover {
    background-color: blue;
    color: white;
}